* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}


body {
    background-color: #069;
    background-image: url("https://images.pexels.com/photos/270348/pexels-photo-270348.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;

    
    
}

.header {
    width: 900px;
    height: 60px;
    background-color: rgba(239, 239, 241, 0.191);
    margin: 20px auto;
    border-radius: 30px;
}

.header h1 {
    color: white;
    font-size: tahoma;
    text-align: center;
    position: relative;
    top: 10px;
}

.corpo {
    width: 100%;
    height: 100%;
}


.corpo article {
    width: 550px;
    height: 510px;
    background-color: rgb(255, 249, 249);
    margin: 10px 150px;
    border-radius: 30px;
}

.corpo article h1 {
    color: purple;
    position: relative;
    top: 115px;
    left: 95px;
}

.corpo img:nth-of-type(1) {
    position: relative;
    left: 200px;
    top: -20px;
}


.corpo a:nth-of-type(1) {
    position: relative;
    left: -350px;
    top: 325px;
    height: 24px;
    
}


.corpo a:nth-of-type(2) {
    position: relative;
    left: -330px;
    top: 323px;
    height: 24px;
    
}

.corpo a:nth-of-type(3) {
    position: relative;
    left: -310px;
    top: 325px;
    height: 34px;
    
}




.corpo input[type="text"]:nth-of-type(1) {
    position: relative;
    top: 100px;
    left: -8px;
    width: 340px;
    height: 30px;
    text-align: center;
}

.corpo input[type="text"]:nth-of-type(2) {
    position: relative;
    top: 140px;
    left: 95px;
    width: 340px;
    height: 30px;
    text-align: center;
}


.corpo input[type="text"]:nth-of-type(3) {
    position: relative;
    top: 180px;
    left: 95px;
    width: 340px;
    height: 30px;
    text-align: center;
}

.corpo input[type="submit"] {
    width: 110px;
    height: 35px;
    position: relative;
    top: 248px;
    left: -219px;
    color: white;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
}

.corpo p {
    width: 300px;
    height: 600px;
    background-color: white;
    position: relative;
    top: -1300px;
    left: 950px;
    border-radius: 35px;
}


section {
    position: relative;
    left: 950px;
    top: -520px;
    height: 500px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
}

section h2 {
    margin: 5px auto;
    text-align: center;
    color: purple;
}

section h4 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 75px;
}

section h4:nth-of-type(1) {
    position: relative;
    top: 25px;
}

section h3 {
    position: relative;
    top: -20px;
    text-align: center;

}

.emem-blush {
    position: relative;
    top: -50px;
}